/* fuentes */
/* colores */
html h4, html h3, html h2, html h1 {
  font-family: "PT sans", sans-serif;
  line-height: 1.2;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}
html body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}
html .cont {
  width: min(90%, 120rem);
  margin: 0 auto;
}
html .cont a {
  text-decoration: none;
}
html h1 {
  font-size: 4.8rem;
}
html h2 {
  font-size: 4rem;
}
html h3 {
  font-size: 3.2rem;
}
html h4 {
  font-size: 2.8rem;
}
html img {
  max-width: 100%;
}

/*UTILIES*/
.no-mg {
  margin: 0;
}

.no-pd {
  padding: 0;
}

.txt-center {
  text-align: center;
}

/* BOTONES*/
.btn {
  display: inline-block;
  font-family: "PT sans", sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.2);
}

.btn--primary {
  background-color: #000000;
}

.btn--second {
  background-color: #6504a1;
}

.art__cont .art__img .img__art:hover, .img__us:hover, .blog__img:hover {
  transform: translateY(-2rem);
  -webkit-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  -moz-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
}

.contcur__cont .contcur__img .img__contcur:hover, .cursos__cont .cursos__img .img__jugo:hover {
  transform: rotate(360deg);
  -webkit-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  -moz-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
}

@keyframes deslizar {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes deslizar--d {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes sacudir {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.us__txt:hover, .txt__sc:hover {
  transform: scale(1.1);
}

/* === HEADER === */
.header {
  background-image: url(../img/banner.jpg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__txt {
  color: #ffffff;
  background-color: #000000;
  padding-bottom: 2rem;
  font-size: 6rem;
  margin-top: 5rem;
  line-height: 4.5rem;
}

.header__p {
  font-size: 2rem;
}

.txtIzq {
  animation: deslizar 2s ease-out forwards;
}

.txtDr {
  animation: deslizar--d 2s ease-out forwards;
}

@media (min-width: 768px) {
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .header__txt {
    margin-top: 12rem;
  }
}

.bar {
  padding: 4rem;
}
.bar .logo {
  color: #ffffff;
}
.bar .logo .logo__name {
  font-weight: normal;
}
.bar .logo .logo__name .logo__span {
  font-weight: bold;
}

.nav__a {
  display: block;
  font-size: 1.8rem;
  color: #ffffff;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .grid-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
  }
}

/* === SECCION ARTICULOS === */
.txt__kf:hover {
  animation: sacudir 0.5s ease-in-out;
}

.txt__sc {
  transition: transform 0.3s ease-in-out;
}
.art {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2rem;
}

.art:last-of-type {
  /*Al ultimo ARTICULO le quitamos la linea porque no hay mas elementos bajo el*/
  border: none;
  margin-bottom: 0;
}

.blog__img {
  transition: transform 0.3s ease-in-out;
}
.cursos {
  list-style: none;
}
.cursos .widget-curso {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2rem;
}
.cursos .widget-curso .widget-curso__label {
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  font-family: 2rem;
}
.cursos .widget-curso .widget-curso__label .widget-curso__span {
  font-weight: 400;
}

.widget-curso:last-of-type {
  /*permite que al agregar o quitar cursos el ultimo nunca tenga linea ni margen*/
  border: none;
  margin-bottom: 0;
}

/* === FOOTER === */
.footer {
  background-color: #000000;
}
.footer .bar--ft {
  padding: 2rem;
}

/* ====  NOSOTROS  ==== */
.header__txt--nos {
  background-color: #784d3c;
}

.img__us {
  transition: transform 0.3s ease-in-out;
}
.us__txt {
  transition: transform 0.3s ease-in-out;
}
/* ====  CURSOS  ==== */
.header__txt--cur {
  background-color: #6504a1;
}

.cursos__cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.cursos__cont .cursos__info {
  grid-column: 1/2;
}
.cursos__cont .cursos__img {
  grid-column: 2/3;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.cursos__cont .cursos__img .img__jugo {
  height: 20rem;
  border-radius: 2rem;
  transition: transform 0.4s ease-in-out;
}
/* ===== CONT-CURSOS =====*/
.header__txt--cc {
  background-color: #314cf9;
}

.contcur__cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
}
.contcur__cont .contcur__img {
  grid-row: 2/3;
  justify-self: center;
}
.contcur__cont .contcur__img .img__contcur {
  height: 30rem;
  border-radius: 2rem;
  margin-top: -3rem;
  transition: transform 0.6s ease-in-out;
}
.contcur__cont .contcur__info {
  grid-row: 1/2;
}
.contcur__cont .contcur__info .span__contcur {
  font-weight: 400;
}

/* ===== ARTICULOS ====*/
.art__cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}
.art__cont .art__img {
  grid-column: 1/2;
}
.art__cont .art__img .img__art {
  border-radius: 2rem;
  transition: transform 0.3s ease-in-out;
}
.art__cont .art__info {
  grid-column: 2/3;
  margin-top: -2rem;
}

/*# sourceMappingURL=styles.css.map */
