//Imagenes
%imgTransY {
  transform: translateY(-2rem);
  -webkit-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  -moz-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
}

%imgRotate {
  transform: rotate(360deg);
  -webkit-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  -moz-box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
  box-shadow: 11px 12px 3px -3px rgba(0, 31, 30, 0.69);
}

//Textos
@keyframes deslizar {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes deslizar--d {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sacudir {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

%txtScale {
  transform: scale(1.1);
}
