
/* fuentes */
$fHeading: "PT sans", sans-serif;
$fParrafos: "Open Sans", sans-serif;
/* colores */
$primario: #784d3c;
$secundario: #6504a1;
$terciario: #314cf9;
$blanco: #ffffff;
$negro: #000000;
$gris: #e1e1e1;
