@use "../utilities/variables" as *;
@use "../utilities/animations";
/* ====  NOSOTROS  ==== */
.header__txt--nos {
  background-color: $primario;
}

.img__us {
  transition: transform 0.3s ease-in-out;
  &:hover {
    @extend %imgTransY;
  }
}

.us__txt {
  transition: transform 0.3s ease-in-out;
  &:hover {
    @extend %txtScale;
  }
}
